.center{
    width: 100%;
    height: inherit;
    background-color: #2b2b2b;
    .center-1{
        width: 60%;
        height: inherit;
        border-radius: 15%;
        background-color: aqua;
    }
}